<div class= "tela-quiz">
    <div class="tela-container bg-foodtruck "> 
        <div id="banner-inicial">
            <a href="/quiz" class="btn btn-success" style="position: absolute; right:0; top:42%; padding: 20px;border-radius:0">COMEÇAR</a>
        </div>
    </div>
</div>
