<%- include("sidebar") %>

<div class="tela-quiz">
    <!-- Imagem FUNDO -->
    <div id="background-container" class="bg-facul">
        <div class="d-flex justify-content-around align-content-end" style="height: 100%;">
            <img class="limitador img-marcio d-none" src="/img/marcio.png" alt="">
            <img class="limitador img-supla d-none" src="/img/supla.png" alt="">
        </div>
    </div>

    <!-- Balão de diálogo -->
    <div id="balao-container">
        
    </div>

    <!-- Texto SOBREPOSIÇÃO -->
    <div id="text-container" class="p-3 absolute-bottom">
        <p class="text-center">O texto das perguntas deve ser inserido aqui!</p>
    </div>

    
        
    <!-- Tela GOODENDING / FINAL -->
    <div id="final-container" class="position-absolute-top" style="display:none;">
        <!-- Se você tirar a classe flex-column, os itens dentro da div distribuem-se em linha (experimente!) -->
        <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 100%;">
            <h1 class="txtDia"><!-- Título --></h1>
            <!-- Conteúdo -->
            <span class="text-white pontuacao"></span>
        </div>
    </div>

    <!-- Tela GAMEOVER -->
    <div id="gameover-container" class="position-absolute-top bg-vermelho" style="display: none;">
        <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 100%;">
            <h1 class="txtDia">FIM DE JOGO</h1>
            <h3 class="text-white">Pontuação: <span class="pontuacao"></span></h3>
        </div>
    </div>

</div>

<!-- Questões APARIÇÃO -->
<div id="question-container" class="bg-dark bottom-nav">
    <div id="answer-buttons" class="d-flex justify-content-around flex-wrap">
        <button class="btn btn-secondary align-self-center">Resposta 1</button>
        <button class="btn btn-secondary align-self-center">Resposta 2</button>
        <button class="btn btn-secondary align-self-center">Resposta 3</button>
        <button class="btn btn-secondary align-self-center">Resposta 4</button>
    </div>
</div>

<!-- Transição DIA/NOITE -->
<div id="daycicle-container" class="bg-preto position-absolute-top">
    <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 100%;">
        <h1 id="txtDia" class="txtDia"></h1>
        <img class="" src="/img/sol.gif" alt="">
    </div>
</div>

<style>
    
    
</style>

<script type="text/javascript" src="/js/intro.js"></script>
<script type="text/javascript" src="/js/dia1.js"></script>
<script type="text/javascript" src="/js/dia2.js"></script>
<script type="text/javascript" src="/js/dia3.js"></script>
<script type="text/javascript" src="/js/dia4.js"></script>


<script type="text/javascript">
    let _diaAtual = [];
    let _dia = -1;
    const containerText = $("#text-container")
    const containerBalao = $('#balao-container')
    const containerBtn = $("#answer-buttons")
    const containerBg = $("#background-container")
    const containerDaycicle = $("#daycicle-container")
    const containerFim = $("#final-container")
    var _nomeJogador = "";
    var _pontuacao = 0;
    var _hotdog, _local, _preco, _promocao;

    const marcio = $(".img-marcio")
    const supla = $(".img-supla")

    $(function() {
        comecarJogo();
    })

    function comecarJogo() {
        mudarDia(_intro, "introdução");
    }

    function proximoTexto() {
        try {
            // substitui a marcação nome pelo salvo na variável nomeJogador
            _diaAtual[0] = _diaAtual[0].replace("[nome]", _nomeJogador)
            // remove o elemento do array e joga no container
            containerText.html(_diaAtual.shift())

            while(_diaAtual[0].trim().startsWith("codigo")) { // o próximo texto é um código
                let codigo = _diaAtual.shift().replace("codigo", "").trim()
                console.log(codigo)
                let funcao = new Function("return "+codigo)
                // substitui o [valor] dentro de uma string se houver
                if(containerText.html().includes("[valor]")){
                    containerText.html(containerText.html().replace("[valor]", funcao))
                } else {
                    funcao()
                }
            }
        } catch(e) {
            console.log(`Oops, ocorreu um erro: ${e}`)
        }
    }

    containerText.click(() => proximoTexto())
    containerBalao.click(() => proximoTexto())

    function montarInput(variavel) {
        limparBotoes()
        containerText.off("click")
        containerBalao.off("click")
        let input = document.createElement("input")
        input.id = "inputName"
        input.type = "text"
        input.classList.add("form-control")
        input.classList.add("input-sm")
        input.addEventListener("keyup", event => {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                event.preventDefault();
                sendBtn.click();
            }
        })
        
        let sendBtn = document.createElement("button")
        sendBtn.classList.add("btn")
        sendBtn.classList.add("btn-secondary")
        sendBtn.innerHTML = "<i class='fas fa-paper-plane'></i>"
        sendBtn.addEventListener("click", event => {
            if(input.value != "") { // Só envia inputs preenchidos
                eval(variavel + " = " + "'" + input.value + "'")
                closeQuestions()
                containerText.append(`<span class="player d-block">&gt "${input.value}"</span>`)
                containerText.on("click", () => {proximoTexto()})
                // containerBalao.append(`<span class="player d-block">&gt "${input.value}"</span>`)
                // containerBalao.on("click", () => {proximoTexto()})
            }
        })

        containerBtn.append(input)
        containerBtn.append(sendBtn)
        openQuestions()
    }

    function montarEscolhas(contexto) {
        limparBotoes()
        containerText.off("click") // Congela o container com o texto atual
        // Criar os botões
        contexto.html.forEach((info, i) => {
            let btn = document.createElement("button")
                btn.type = "button"
                btn.innerText = info.titulo
                btn.classList.add(`btn`)
                btn.classList.add(`btn-${info.cor}`)
            
            // Ao ser clicado
            btn.addEventListener("click", event => {
                containerText.append(`<span class="player d-block">&gt "${info.frase}"</span>`)
                // Salvar em variável
                eval(`${contexto.variavel} = {texto: '${info.titulo}', valor: '${info.valor}'}`)
                // Somar na pontuação global
                if(info.pontos) {
                    _pontuacao += parseInt( info.pontos[eval(contexto.varPontos).valor] )
                }

                if(contexto.errada == i + 1) {
                    mudarArray(contexto.alternativo)
                } else {
                    mudarArray(contexto.padrao)
                }
                closeQuestions()
                containerText.on("click", () => {proximoTexto()}) // Voltar o clique na caixa de texto
            })
            containerBtn.append(btn)
        })
        openQuestions()

    }

    function limparBotoes() {
        containerBtn.html("")
    }

    function mudarDia(novoDia, nomeDia = "") {
        _diaAtual = novoDia.map((x) => x);
        _dia++
        $("#txtDia").text((nomeDia.toUpperCase()||`DIA ${_dia}`));
        $.when(animacaoMudarDia())
           .then(proximoTexto());
    }
    function gameover() {
       setTimeout(function(){ $("#gameover-container").fadeIn(800)}, 4000)
       $(".pontuacao").text(_pontuacao)
       mudarMusica("badending")
    }
    function fim() {
        setTimeout(function(){containerFim.fadeIn(800)}, 3000)
        $(".pontuacao").text(_pontuacao)
        if(_pontuacao < 0) {
            mudarMusica("badending")
        } else if(_pontuacao > 0) {
            mudarMusica("goodending")
        }
    }

    function mudarArray(novaTrilha) {
        _diaAtual = novaTrilha.map((x) => x);
    }

    
</script>