<%- include("sidebar") %>

<div class="tela-quiz">
    <!-- Imagem FUNDO -->
    <div id="background-container" class="bg-metro"></div>

    <!-- Texto SOBREPOSIÇÃO -->
    <div id="text-container" class="p-3 fixed-bottom">
        <p class="text-center">O texto das perguntas deve ser inserido aqui!</p>
    </div>

    <!-- Questões APARIÇÃO -->
    <!-- <div id="question-container" class="bg-dark fixed-bottom">
        <div id="answer-buttons" class="d-flex justify-content-around flex-wrap">
            <button class="btn btn-secondary align-self-center">Resposta 1</button>
            <button class="btn btn-secondary align-self-center">Resposta 2</button>
            <button class="btn btn-secondary align-self-center">Resposta 3</button>
            <button class="btn btn-secondary align-self-center">Resposta 4</button>
        </div>
    </div> -->
        
    <!-- Resultado -->
    <div id="result-container" class="d-none">
        <div class="t-quiz h1">RESULTADO</div>
        <div class="my-3">
            <img id="img-res" width=30% alt="imagem do sabonete" src=""/>
            <div id="txt-res" class="h2 mt-4"></div>
        </div>
        <div class="p-3">
            <button id="restart-btn" type="button" class="btn btn-light btn-lg">RECOMEÇAR</button>
            <a id="btn-loja" class="btn btn-success btn-lg" href="">VER NA LOJA</a>
        </div>
    </div>

    <!-- Erro -->
    <div id="error-container" class="text-center d-none">
        <div class="t-quiz h1">OPS...</div>
        <div>
            <img width=25% alt="nome sabonete" src="https://weakwifisolutions.com/wp-content/uploads/2019/08/error-red-cross-1.png?ezimgfmt=rs:372x372/rscb2/ng:webp/ngcb2"/>
            <div class="h2">Desculpa, o seu resultado não foi encontrado. Por favor, tente novamente.</div>
        </div>
    </div>

</div>

<script type="text/javascript">
    const fundos = ["bg-metro", "bg-facul", "bg-ponte", "bg-parque"]
    let i = 0

    let mudarFundo = setInterval(() => {
        $("#background-container").removeClass()
        if(i >= fundos.length - 1) {
            i = 0
        } else {
            i++
        }
        $("#background-container").addClass(fundos[i])
    }, 10000)

    let currentQuestionIndex

    /* startButton.addEventListener('click', comecarJogo)
    nextButton.addEventListener('click', () => {
        /* escolherResposta();
        currentQuestionIndex++
        proximaPergunta()
    })
    finalizeButton.addEventListener('click', () => {
        escolherResposta();
        currentQuestionIndex++
        mostrarResultado() (?)
        questionContainerElement.classList.add('fade-out')
        setTimeout(telaLista, 1500)
    }) */

    function comecarJogo() {
        // startButton.classList.add("d-none")
        // currentQuestionIndex = 0
        proximaPergunta()
    }

    function proximaPergunta() {
        resetarInstancia()
        mostrarPergunta(questoes[currentQuestionIndex])
    }

    function mostrarPergunta(questao) {
        
    }

    function resetarInstancia() {
        
    }

    function clicouBotao() {
        
    }
    
    function escolherResposta() {

    }

    function mostrarResultado(produto) {
        
    }

</script>