    <!-- Nav tabs  -->
    <div class="nav-right">
        <button type="button" class="btn" onclick="openNav('swotNav')">SWOT</button>
        <button type="button" class="btn" onclick="openNav('mercNav')">M</button>
        <button type="button" class="btn" onclick="openNav('concNav')">C</button>
        <button type="button" class="btn" onclick="openNav('ambiNav')">A</button>
    </div>
    <button class="btn btn-dark abas abasEsq" style="top:25%;">S</button>
    <button class="btn btn-dark abas abasEsq" style="top:32%;" >W</button>
    <button class="btn btn-dark abas abasEsq" style="top:40%;" >O</button>
    <button class="btn btn-dark abas abasEsq" style="top:48%;" >T</button>

    <button class="btn btn-dark abas abasDir" style="top:25%;"><i class="fas fa-user-friends"></i></button>
    <button class="btn btn-dark abas abasDir" style="top:32%;" ><i class="fas fa-map-marker-alt"></i></button>
    <button class="btn btn-dark abas abasDir" style="top:40%;" ><i class="fas fa-hotdog"></i></button>
    <button class="btn btn-dark abas abasDir" style="top:48%;" ><i class="fas fa-bolt"></i></button>

     <!-- Tab panes -->
     <div id="swotNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('swotNav')">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>

     