<div class="bg-preto">
    <div class="container" >
        <h1 id="txtDia" class="txtDia" >DIA 1</h1>
    </div>
</div>


<script>
 var textoDia = document.getElementById("txtDia");
 function passaDia(txt){
     textoDia.textContent = txt;
 }

</script>