/* -------------------------------------------------------------------------------
/  -                                 GERAL                                       -
/  -------------------------------------------------------------------------------
*/
body, html {
  height: 100%;
  overflow-y: hidden;
  background-color: #111;
}

.tela-quiz {
  position: relative;
  height: 100vh;
}

.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.absolute-bottom{
position: absolute;
bottom: 0;
width: 100%;
}

.btn-purple {
  background-color: var(--purple);
  color: #fff;
}

.btn-purple:hover {
  background-color: #623ca8;
  color: #fff;
}

/* -------------------------------------------------------------------------------
/  -                               CONTAINERS                                    -
/  -------------------------------------------------------------------------------
*/
.tela-container{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#background-container {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#text-container{
    max-height: 200px;
    position: absolute;
    background-color: #111a;
    color: #fff;
    cursor: pointer;
}

#answer-buttons{
    max-height: 150px;
}

#answer-buttons button{
  margin: 10px 15px;
  flex-grow: 1;
}

/*--------------------------------------------------------------------------
  -                            BACKGROUNDS                                 -
  --------------------------------------------------------------------------
*/
.bg-metro {
  background-image: url('/img/anarosa.png');
}
.bg-ponte {
  background-image: url('/img/ponte.png');
}
.bg-facul {
  background-image: url('/img/facul.png');
}
.bg-parque {
  background-image: url('/img/parque.png');
}
.bg-foodtruck {
  background-image: url('/img/hotdog.jpg');
}


/* -------------------------------------------------------------------------------
/  -                                SideBars                                     -
/  -------------------------------------------------------------------------------
/* The side navigation menu */
.sidenav, .bottomnav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .tela-quiz {
    transition: height .5s;
  }

  .bottomnav{
    bottom:0;
    width: inherit;
    height: 0;
    overflow-y: hidden;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav, .bottomnav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.abas{
  z-index:900;
   position: absolute; 
   height: 45px;
   width: 45px;
   border-radius:0
}
.abasEsq{
  left:0; 
}
.abasDir{
  right:0; 
}